*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("background.jpg");
    background-size: 100%;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 50px;
  }
  
.topnav a:hover {
    cursor: pointer;
  }
#content{
    color: #fff;
    margin-top: 100px;
    margin-left: 100px;
}
.title{
    color:burlywood;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    word-spacing: 3px;

}
.para{
    text-align: justify;
    margin-right: 700px;
    font-size: 18px;
    font-family: Lato,sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.6;
}